<h1>Hello My genrated password is</h1>
<form action="{% url 'password' %}" >
  <select name="length"  >
    <option value="1">1</option>
    <option value="2">3</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
  </select><br>
  <input type="checkbox" name="lowercase" >Char Lowercase <br>
  <input type="checkbox" name="uppercase" >Char Upercase <br>
  <input type="checkbox" name="specialchar" >Special Char <br>
  <input type="checkbox" name="number" >number <br>
  <input type="submit" value="genrated password">
</form>